/* Document
 * ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
 * ========================================================================== */

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */

/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */

main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
 * ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */

/**
 * Remove the border on images within links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
 * ========================================================================== */

/**
 * Remove the margin on controls in Safari.
 */

button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */

button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Show the overflow in Edge 18- and IE.
 */

input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */

select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */

textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */

:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */

/*
 * Add the correct display in Edge 18- and IE.
 */

details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* User interaction
 * ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/*
  Base CSS por Jorge Aznar
  https://jorgeatgu.com
  Estructura básica para iniciar cualquier proyecto con postCSS
*/

:root {
    --fontSystem: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, sans-serif;
    --monospace: 'SFMono-Regular', Consolas, Menlo, Courier, monospace;
    --roboto: 'Roboto Condensed', sans-serif;
    --title: 'Yeseva One', cursive;
    --text: 'Merriweather', serif;
    --white: #fff;
    --black: #111;
    --bg: #EBD1CB;
    --element-chart: #9D2C5D;
    --shadow: 0 2px 4px 0 rgba(0, 0, 0, .31), 0 2px 4px 0 rgba(50, 50, 58, .2);
    --bg-torp: #F4E467;
}

.header {
    position: relative;
    padding: 1rem;
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    mix-blend-mode: darken;
    transition: all ease-in-out .5s;
    max-height: 100vh;
}

.header-text {
    padding: 1rem 2rem;
    background-color: #fff;
    background-color: var(--white);
    width: 100%;
}

.header-title {
    font-size: 2rem;
    font-family: 'Yeseva One', cursive;
    font-family: var(--title);
    margin: 0;
}

.header-paragraph {
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-family: var(--text);
    width: 25rem;
}

.header-paragraph .header-title {
        font-size: 1rem;
    }

.through {
    text-decoration: line-through;
}

@media only screen and (min-width: 64rem) {
    .header {
        max-height: 100vh;
    }

    .header-text {
        border-top: 5px solid #111;
        border-top: 5px solid var(--black);
        margin-top: -7rem;
        position: relative;
        width: 32rem;
        margin-left: 3rem;
    }

    .header-title {
        font-size: 4rem;
    }

}

.chart-separator {
    width: 100%;
    padding: 2rem 0;
    background-color: #EBD1CB;
    background-color: var(--bg);
}

.chart-text-container {
    width: 40rem;
    margin: 2rem auto;
}

.chart-text-title {
    font-size: 2rem;
    font-family: 'Yeseva One', cursive;
    font-family: var(--title);
    color: #111;
    color: var(--black);
    margin-bottom: .25rem;
}

.chart-text {
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-family: var(--text);
    color: #111;
    color: var(--black);
    width: 20rem;
    margin-top: .25rem;
}

.chart-container-full {
    width: 80%;
    margin: 0 auto;
}

.chart text {
        font-family: 'Roboto Condensed', sans-serif;
        font-family: var(--roboto);
        font-size: .75rem;
    }

.chart .line {
        fill: none;
        stroke: #9D2C5D;
        stroke: var(--element-chart);
        stroke-width: 3px;
    }

.chart .axis-y line {
            stroke-dasharray: 3px;
            stroke: #2d1175;
        }

.chart .axis .domain {
            stroke: none;
        }

.line-chapters {
    position: relative;
}

/* stylelint-disable */

.ss-main {
    position: relative;
    display: inline-block;
    user-select: none;
    color: #666;
    width: max-content;
}

.ss-main .ss-single-selected {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 30px;
    padding: 6px;
    border: 1px solid #dcdee2;
    border-radius: 4px;
    background-color: #fff;
    outline: 0;
    box-sizing: border-box;
    transition: background-color .3s
}

.ss-main .ss-single-selected.ss-disabled {
    background-color: #dcdee2;
    cursor: not-allowed
}

.ss-main .ss-single-selected.ss-open-above {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.ss-main .ss-single-selected.ss-open-below {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.ss-main .ss-single-selected .placeholder {
    flex: 1 1 100%;
    text-align: left;
    width: calc(100% - 30px);
    line-height: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ss-main .ss-single-selected .placeholder,
.ss-main .ss-single-selected .placeholder * {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ss-main .ss-single-selected .placeholder * {
    width: auto
}

.ss-main .ss-single-selected .placeholder .ss-disabled {
    cursor: pointer;
    color: #8a8a8a
}

.ss-main .ss-single-selected .ss-deselect {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 auto;
    margin: 0 6px;
    font-weight: 700
}

.ss-main .ss-single-selected .ss-deselect.ss-hide {
    display: none
}

.ss-main .ss-single-selected .ss-arrow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 1 auto;
    margin: 0 6px
}

.ss-main .ss-single-selected .ss-arrow span {
    border: solid #666;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transition: transform .2s, margin .2s
}

.ss-main .ss-single-selected .ss-arrow span.arrow-up {
    transform: rotate(-135deg);
    margin: 3px 0 0
}

.ss-main .ss-single-selected .ss-arrow span.arrow-down {
    transform: rotate(45deg);
    margin: -3px 0 0
}

.ss-main .ss-multi-selected {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    min-height: 30px;
    width: 100%;
    padding: 0 0 0 3px;
    border: 1px solid #dcdee2;
    border-radius: 4px;
    background-color: #fff;
    outline: 0;
    box-sizing: border-box;
    transition: background-color .3s
}

.ss-main .ss-multi-selected.ss-disabled {
    background-color: #dcdee2;
    cursor: not-allowed
}

.ss-main .ss-multi-selected.ss-disabled .ss-values .ss-disabled {
    color: #666
}

.ss-main .ss-multi-selected.ss-disabled .ss-values .ss-value .ss-value-delete {
    cursor: not-allowed
}

.ss-main .ss-multi-selected.ss-open-above {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.ss-main .ss-multi-selected.ss-open-below {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.ss-main .ss-multi-selected .ss-values {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1 1 100%;
    width: calc(100% - 30px)
}

.ss-main .ss-multi-selected .ss-values .ss-disabled {
    display: flex;
    padding: 4px 5px;
    margin: 2px 0;
    line-height: 1em;
    align-items: center;
    width: 100%;
    color: #8a8a8a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes scaleOut {
    0% {
        transform: scale(1);
        opacity: 1
    }

    to {
        transform: scale(0);
        opacity: 0
    }
}

.ss-main .ss-multi-selected .ss-values .ss-value {
    display: flex;
    user-select: none;
    align-items: center;
    font-size: 12px;
    padding: 3px 5px;
    margin: 3px 5px 3px 0;
    color: #fff;
    background-color: #5897fb;
    border-radius: 4px;
    animation-name: scaleIn;
    animation-duration: .2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both
}

.ss-main .ss-multi-selected .ss-values .ss-value.ss-out {
    animation-name: scaleOut;
    animation-duration: .2s;
    animation-timing-function: ease-out
}

.ss-main .ss-multi-selected .ss-values .ss-value .ss-value-delete {
    margin: 0 0 0 5px;
    cursor: pointer
}

.ss-main .ss-multi-selected .ss-add {
    display: flex;
    flex: 0 1 3px;
    margin: 9px 12px 0 5px
}

.ss-main .ss-multi-selected .ss-add .ss-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #666;
    position: relative;
    height: 10px;
    width: 2px;
    transition: transform .2s
}

.ss-main .ss-multi-selected .ss-add .ss-plus:after {
    background: #666;
    content: "";
    position: absolute;
    height: 2px;
    width: 10px;
    left: -4px;
    top: 4px
}

.ss-main .ss-multi-selected .ss-add .ss-plus.ss-cross {
    transform: rotate(45deg)
}

.ss-main .ss-content {
    position: absolute;
    width: 100%;
    margin: -1px 0 0;
    box-sizing: border-box;
    border: 1px solid #dcdee2;
    z-index: 1010;
    background-color: #fff;
    transform-origin: center top;
    transition: transform .2s, opacity .2s;
    opacity: 0;
    transform: scaleY(0)
}

.ss-main .ss-content.ss-open {
    display: block;
    opacity: 1;
    transform: scaleY(1)
}

.ss-main .ss-content .ss-search {
    display: flex;
    flex-direction: row;
    padding: 8px 8px 6px
}

.ss-main .ss-content .ss-search.ss-hide,
.ss-main .ss-content .ss-search.ss-hide input {
    height: 0;
    opacity: 0;
    padding: 0;
    margin: 0
}

.ss-main .ss-content .ss-search input {
    display: inline-flex;
    font-size: inherit;
    line-height: inherit;
    flex: 1 1 auto;
    width: 100%;
    min-width: 0;
    height: 30px;
    padding: 6px 8px;
    margin: 0;
    border: 1px solid #dcdee2;
    background-color: #fff;
    outline: 0;
    text-align: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: textfield
}

.ss-main .ss-content .ss-search input::placeholder {
    color: #bdbdbd;
    vertical-align: middle
}

.ss-main .ss-content .ss-search input:focus {
    box-shadow: 0 0 5px #5897fb
}

.ss-main .ss-content .ss-search .ss-addable {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    flex: 0 0 30px;
    height: 30px;
    margin: 0 0 0 8px;
    border: 1px solid #dcdee2;
    border-radius: 4px;
    box-sizing: border-box
}

.ss-main .ss-content .ss-addable {
    padding-top: 0
}

.ss-main .ss-content .ss-list {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left
}

.ss-main .ss-content .ss-list .ss-optgroup .ss-optgroup-label {
    padding: 6px 10px;
    font-weight: 700
}

.ss-main .ss-content .ss-list .ss-optgroup .ss-option {
    padding: 6px 6px 6px 25px
}

.ss-main .ss-content .ss-list .ss-option {
    padding: 6px 10px;
    cursor: pointer;
    user-select: none
}

.ss-main .ss-content .ss-list .ss-option * {
    display: inline-block
}

.ss-main .ss-content .ss-list .ss-option.ss-highlighted,
.ss-main .ss-content .ss-list .ss-option:hover {
    color: #fff;
    background-color: #5897fb
}

.ss-main .ss-content .ss-list .ss-option.ss-disabled {
    cursor: default;
    color: #bdbdbd;
    background-color: #fff
}

.ss-main .ss-content .ss-list .ss-option.ss-hide {
    display: none
}

.ss-main .ss-content .ss-list .ss-option .ss-search-highlight {
    background-color: rgba(255, 247, 0, .38)
}

.ss-main .ss-single-selected {
    min-width: 9rem !important;
    border-radius: 5px;
    height: auto !important;
    padding: 1rem !important;
    padding-right: .25rem !important;
    border: 1px solid #f1f1f1 !important;
    background-color: #fff !important;
    background-color: var(--white) !important;
    font-family: 'Merriweather', serif !important;
    font-family: var(--text) !important;
    color: #111 !important;
    color: var(--black) !important;
    position: relative;
    font-size: 1rem;
    margin-left: 0 !important;
}

.ss-main .ss-content {
    margin-left: 0 !important;
}

.ss-main .ss-content .ss-search input {
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-family: var(--text);
}

.ss-option {
    font-family: 'Merriweather', serif !important;
    font-family: var(--text) !important;
    color: #111 !important;
    color: var(--black) !important;
    font-size: 14px;
}

.ss-main .ss-content .ss-list .ss-option.ss-disabled {
    color: #bdbdbd !important;
}

.ss-main .ss-single-selected .ss-arrow span {
    border-color: #111 !important;
    border-color: var(--black) !important;
}

.ss-main .ss-single-selected .placeholder,
.ss-main .ss-single-selected .placeholder * {
    overflow: initial !important;
}

.ss-content {
    max-width: 13rem !important;
    border: 1px solid #ddd !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .31), 0 2px 4px 0 rgba(50, 50, 58, .2);
    box-shadow: var(--shadow);
    margin-top: 0 !important;
}

.select-text {
    font-family: 'Merriweather', serif;
    font-family: var(--text);
    margin-left: 3rem;
    margin-top: 0;
    margin-bottom: .25rem;
    font-size: 1rem;
}

@media only screen and (min-width: 48rem) {

    .ss-main .ss-single-selected,
    .ss-main .ss-content {
        margin-left: 3rem !important;
    }

}

/* stylelint-enable */

.torp {
    background-color: #DADBDD;
    height: 100vh;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Ccircle fill='%2359c6d1' cx='30' cy='30' r='5'/%3E%3Cg fill='%23ff513f' fill-opacity='1'%3E%3Ccircle cx='0' cy='60' r='5'/%3E%3Ccircle cx='60' cy='60' r='5'/%3E%3Ccircle cx='60' cy='0' r='5'/%3E%3Ccircle cx='0' cy='0' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.torp .chart-container-full {
        width: 100%;
        padding-top: 4rem;
    }

.torp:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        background-color: var(--white);
        opacity: .25;
        z-index: 1;
    }

.torp-container {
    padding: 2rem 0;
    padding-top: 0;
    width: 95vw;
    display: grid;
    margin: 2rem auto;
    margin-top: 0;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1rem;
    justify-items: stretch;
    align-items: stretch;
    position: relative;
    z-index: 2;
}

.torp-text-container {
    width: fit-content;
    background-color: #fff;
    background-color: var(--white);
    padding: 1rem 3rem;
    position: relative;
    border-radius: 4px;
    z-index: 2;
}

.torp-text-container .chart-text-title {
        margin-top: 0;
    }

.torp-element {
    padding: 1rem;
    border-radius: 4px;
    background-color: #ff9d00;
    height: 40vh;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .31), 0 2px 4px 0 rgba(50, 50, 58, .2);
    box-shadow: var(--shadow);
}

.torp-bg {
    width: 100%;
    height: 100%;
    opacity: .2;
    background-color: #fff;
    background-color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.torp-number {
    font-family: 'Roboto Condensed', sans-serif;
    font-family: var(--roboto);
    font-weight: bold;
    font-size: 3.5rem;
    position: relative;
    z-index: 2;
    margin-top: .25rem;
}

.torp-title {
    font-family: 'Yeseva One', cursive;
    font-family: var(--title);
    font-size: 1.25rem;
    color: #182b4d;
    position: relative;
    z-index: 2;
    margin: 0;
}

.torp-btn {
    position: relative;
    z-index: 2;
    cursor: pointer;
    width: fit-content;
    font-size: .75rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: var(--roboto);
    display: block;
    background-color: #2c0e23;
    color: #fff;
    color: var(--white);
    text-decoration: none;
    padding: .75rem;
    border-radius: 4px;
    letter-spacing: 2px;
}

.torp-btn:not(:last-child) {
        margin-bottom: 1rem;
    }

.torp-two {
    padding-top: 1.75rem;
}

.torp-three {
    padding-top: 2.25rem;
}

.torp-four {
    padding-top: 2.75rem;
}

.torp-five {
    padding-top: 3.25rem;
}

.tooltip {
    padding: 1rem;
    opacity: 1;
    border: 1px dotted #111;
    border: 1px dotted var(--black);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .31), 0 2px 4px 0 rgba(50, 50, 58, .2);
    box-shadow: var(--shadow);
    background-color: rgba(255, 255, 255, .85);
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: var(--roboto);
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #111;
    color: var(--black);
    display: inline-block;
    vertical-align: middle;
    /* stylelint-disable */
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;

}

/* stylelint-enable */

.tooltip.tooltip-negative .tooltip-number {
            color: red;

        }

.tooltip-text {
    margin: 0;
}

.tooltip-text + p {
        display: none;
    }

.tooltip-number {
    font-size: 1.5rem;
    font-weight: 800;
    display: inline-block;
    text-align: center;
    color: green;
}

:root {
    --fondoproyectos: #0c1e44;
    --project1bg: #FEE1C2;
    --project1txt: #952747;
    --project2bg: #354A57;
    --project2txt: #a5cf80;
    --project3bg: #EABAAB;
    --project3txt: #36152f;
    --project4bg: #798780;
    --project4txt: #1a182a;
    --project5bg: #995243;
    --project5txt: #e5f9fb;
    --project6bg: #A37E49;
    --project6txt: #05183f;
    --project7bg: #AAD7C7;
    --project7txt: #145669;
    --project8bg: #EABFB1;
    --project8txt: #670509;
    --project9bg: #fff6cb;
    --project9txt: #0e2153;
    --project11bg: #DF9245;
    --project11txt: #231736;
    --project12bg: #F4E467;
    --project12txt: #111;
}

.proyectos {
    padding: 2rem 0;
    padding-top: 0;
    max-width: 90%;
    display: grid;
    margin: 2rem auto;
    margin-top: 0;
    grid-template-columns: 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    justify-items: stretch;
    align-items: stretch;
}

.proyectos-title {
    font-size: 1.5rem;
    max-width: 90%;
    font-family: 'Yeseva One', cursive;
    font-family: var(--title);
    margin: 1rem auto;
    padding-top: 2rem;
}

.proyectos-element {
    padding: 1rem;
    border-radius: 4px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    transition: all .3s ease-in;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .31), 0 2px 4px 0 rgba(50, 50, 58, .2);
}

.proyectos-element:hover {
        transform: translateY(-.25rem);
        opacity: .9;
    }

.proyectos-element-title {
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: var(--roboto);
    font-weight: bold;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    padding-bottom: .25rem;
}

.proyectos-element-subtitle {
    font-size: .75rem;
    font-family: 'SFMono-Regular', Consolas, Menlo, Courier, monospace;
    font-family: var(--monospace);
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.proyectos-element-text {
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    font-family: var(--text);
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.proyecto-1 {
    background-color: #FEE1C2;
    background-color: var(--project1bg);
}

.proyecto-1-text {
    color: #952747;
    color: var(--project1txt);
}

.proyecto-2 {
    background-color: #354A57;
    background-color: var(--project2bg);
}

.proyecto-2-text {
    color: #a5cf80;
    color: var(--project2txt);
}

.proyecto-3 {
    background-color: #EABAAB;
    background-color: var(--project3bg);
}

.proyecto-3-text {
    color: #36152f;
    color: var(--project3txt);
}

.proyecto-4 {
    background-color: #798780;
    background-color: var(--project4bg);
}

.proyecto-4-text {
    color: #1a182a;
    color: var(--project4txt);
}

.proyecto-5 {
    background-color: #995243;
    background-color: var(--project5bg);
}

.proyecto-5-text {
    color: #e5f9fb;
    color: var(--project5txt);
}

.proyecto-6 {
    background-color: #A37E49;
    background-color: var(--project6bg);
}

.proyecto-6-text {
    color: #05183f;
    color: var(--project6txt);
}

.proyecto-7 {
    background-color: #AAD7C7;
    background-color: var(--project7bg);
}

.proyecto-7-text {
    color: #145669;
    color: var(--project7txt);
}

.proyecto-8 {
    background-color: #EABFB1;
    background-color: var(--project8bg);
}

.proyecto-8-text {
    color: #670509;
    color: var(--project8txt);
}

.proyecto-9 {
    background-color: #fff6cb;
    background-color: var(--project9bg);
}

.proyecto-9-text {
    color: #0e2153;
    color: var(--project9txt);
}

.proyecto-10 {
    background-color: #111;
    background-color: var(--black);
}

.proyecto-10-text {
    color: #fff;
    color: var(--white);
}

.proyecto-11 {
    background-color: #DF9245;
    background-color: var(--project11bg);
}

.proyecto-11-text {
    color: #231736;
    color: var(--project11txt);
}

.proyecto-12 {
    background-color: #F4E467;
    background-color: var(--project12bg);
}

.proyecto-12-text {
    color: #111;
    color: var(--project12txt);
}

.line-through {
    text-decoration: line-through;
}

@media only screen and (min-width: 48em) {

    .proyectos {
        grid-template-columns: 1fr 1fr;
        max-width: 42rem;
    }

    .proyectos-title {
        max-width: 42rem;
    }

    .proyectos-element {
        padding: 2rem;
    }

}

@media only screen and (min-width: 64em) {

    .proyectos {
        grid-template-columns: 1fr 1fr;
        max-width: 58rem;
    }

    .proyectos-title {
        max-width: 58rem;
    }
}

.footer {
    background-color: #E25772;
    width: 100%;
    padding: 10vh 0;
}

.footer-texto,
.footer-links {
    color: #111;
    color: var(--black);
    font-family: 'Roboto Condensed', sans-serif;
    font-family: var(--roboto);
    font-size: 1rem;
}

.footer-links {
    font-weight: bold;
}

body {
    margin: 0;
    line-height: 1.4;
}

* {
    box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
