.chart-separator {
    width: 100%;
    padding: 2rem 0;
    background-color: var(--bg);
}

.chart-text-container {
    width: 90%;
    margin: 2rem auto;
}

.chart-text-title {
    font-size: 2rem;
    font-family: var(--title);
    color: var(--black);
    margin-bottom: .25rem;
}

.chart-text {
    font-size: 1rem;
    font-family: var(--text);
    color: var(--black);
    width: 20rem;
    margin-top: .25rem;
}

.chart-container-full {
    width: 100%;
    margin: 0 auto;
}

.chart,
.chart-torp-bar-horizontal-container {
    text {
        font-family: var(--roboto);
        font-size: .75rem;
    }
    .line {
        fill: none;
        stroke: var(--element-chart);
        stroke-width: 3px;
    }
    .bar-horizontal {
        fill: var(--element-chart);
    }
    .axis-y {
        line {
            stroke-dasharray: 3px;
            stroke: #2d1175;
        }
    }
    .axis {
        .domain {
            stroke: none;
        }
    }
    .circles {
        fill: #3D5266;
    }
}

.chart-torp-bar-horizontal-container {
    .axis-x {
        line {
            stroke-dasharray: 3px;
            stroke: #2d1175;
        }
    }
}

.line-chapters {
    position: relative;
}

@media only screen and (min-width: 64rem) {

    .chart-container-full {
        width: 80%;
    }

    .chart-text-container {
        width: 40rem;
    }

}
