.header {
    position: relative;
    padding: 1rem;
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    mix-blend-mode: darken;
    transition: all ease-in-out .5s;
    max-height: 100vh;
}

.header-text {
    padding: 1rem 2rem;
    background-color: var(--white);
    width: 100%;
}

.header-title {
    font-size: 2rem;
    font-family: var(--super-title);
    font-weight: 400;
    margin: 0;
}

.header-paragraph {
    font-size: 1rem;
    font-family: var(--text);
    width: 25rem;
    .header-title {
        font-size: 1rem;
    }
}

.through {
    text-decoration: line-through;
}

@media only screen and (min-width: 64rem) {
    .header {
        max-height: 100vh;
    }

    .header-text {
        border-top: 5px solid var(--black);
        margin-top: -6rem;
        position: relative;
        width: 41rem;
        margin-left: 3rem;
    }

    .header-title {
        font-size: 3rem;
    }

}
