.tooltip {
    padding: 1rem;
    opacity: 1;
    box-shadow: var(--shadow);
    border-radius: 4px;
    background-color: #3c5267;
    font-size: 1rem;
    font-family: var(--roboto);
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--white);
    display: inline-block;
    vertical-align: middle;
    /* stylelint-disable */
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;

    /* stylelint-enable */
    &.tooltip-negative {
        .tooltip-number {
            color: red;

        }
    }

}

.tooltip-text {
    margin: 0;
    + p {
        display: none;
    }
}

.tooltip-number {
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    color: #b4f210;
}
