/*
  Base CSS por Jorge Aznar
  https://jorgeatgu.com
  Estructura básica para iniciar cualquier proyecto con postCSS
*/

@import '_variables';
@import '_header';
@import '_charts';
@import '_slim-select';
@import '_tooltip';
@import '_proyectos';
@import '_footer';

body {
    margin: 0;
    line-height: 1.4;
}

* {
    box-sizing: border-box;
}
